pandas
numpy
requests
python-dotenv
tenacity
pinecone
beautifulsoup4
selenium
linkedin-api
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-intercom
webdriver_manager
groq
streamlit
Pillow
beautifulsoup4
newspaper3k
nltk
spacy
lxml_html_clean 
text_emotion
serpapi
proxycurl
google-search-results
vaderSentiment
PyPDF2==3.0.1